@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

.auth h2 {
  text-align: center;
}

.auth p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
  /* font-family: 'Josefin Sans'; */
}

.auth span {
  font-size: 12px;
}

.auth a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.social:hover {
  color: var(--primary);
}
.auth button:focus {
  outline: none;
}

.auth button.ghost {
  background-color: transparent;
  border-color: #ffffff;
  border: 1px solid white;
  color: white;
  letter-spacing: 2px;
}
.auth button.ghost:active {
  background-color: white;
  color: var(--primary);
  border: 1px solid var(--primary);
  box-shadow: none;
}

.auth form {
  background-color: var(--greyLight-1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.auth .input {
  box-shadow: var(--shadow-in);
  outline: none;
  background: var(--greyLight-1);
  margin: 0.5rem 0;
  padding: 0.5rem 0.5rem;
  border-radius: 6px;
}
.auth .input:focus {
  outline: none !important;
  /* box-shadow: var(--shadow-out) !important; */
  border: var(--primary)!important;
}
.auth .container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: var(--shadow-out);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 500px;
}

.auth .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.4s ease-in-out;
}

.auth .sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
  /* background: var(--greyLight-2); */
}

.auth .container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.auth .container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.5s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.4s ease-in-out;
  z-index: 100;
}

.auth .container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: var(--primary);
  /* background: linear-gradient(to right, var(--primary-dark), var(--primary-light)); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.4s ease-in-out;
}
.auth .container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.4s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.auth .container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.auth .container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}
.auth .signUp-1 {
  display: none;
  color: red;
}
.forgotPassword input {
  outline: none;
  border: none;
  box-shadow: var(--shadow-out);
}
.forgotPassword input:focus {
  color: var(--primary);
}
.forgotpass {
  transition: 0.4s ease;
}
.forgotpass:hover {
  color: red;
  cursor: pointer;
}


@media screen and (max-width: 450px) {
  .overlay-container {
    width: 0%;
  }
  .auth .sign-in-container {
    width: 100%;
  }
  .sign-up-container{
    width: 100%;
  }
  .auth .container.right-panel-active .sign-up-container {
    width: 100%;
    transform: translateX(0%);
  }
  .auth form {
    padding: 0 1rem;
  }
  .auth {
    padding: 1rem 1.5rem;
  }
  .auth .signUp-1 {
    display: block;
  }
  .forgotPassword .rightpart{
    padding: 1rem 2rem;
  }
  .forgotPassword .rightpart h1{
    letter-spacing: 3px;
  }
}
