@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@500&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  
}
:root {
  --primary-lighter: #bdc2ff;
  --primary-light: #8a94ff;
  --primary: #5b4af1;
  --primary-dark: #6115ef;
  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
  --font: "Poppins", sans-serif;
  --shadow-out: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
  --shadow-in: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
    inset -0.2rem -0.2rem 0.5rem var(--white);
}
a {
  text-decoration: none;
}
.u-f-b {
  padding: 10px 20px;
  background: var(--primary);
  color: var(--greyLight-1);
  cursor: pointer;
  border-radius: 5px;
}

.u-f-b input {
  display: none;
}

a.u-f-b:hover {
  color: white;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  background: var(--primary);
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: var(--shadow-in);
  padding: 2rem;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  width: 2rem;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}
body {
  background: var(--greyLight-1);
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--primary);
  transform-origin: 0%;
  z-index: 1111;
}

.ls-1 {
  letter-spacing: 0.1rem;
}
.lazyLoader {
  height: 100vh;
}
.primary {
  color: var(--primary);
}
.ls-2 {
  letter-spacing: 0.2rem;
}
.ls-3 {
  letter-spacing: 0.3rem;
}
.bg-color {
  background-color: var(--greyLight-1) !important;
}
.card_tools a {
  text-decoration: none;
}
.bg-grey {
  color: var(--greyDark);
}
.pointer {
  cursor: pointer;
}
.border-none {
  border: none;
}
.rubber {
  display: inline-block;
  padding: 0;
  margin: 0;
  transition: 0.2s ease;
}
.headerImage {
  border-radius: 0.8rem !important;
}
.rubber:hover {
  animation: rubberband 800ms alternate ease-out;
}

button:disabled {
  cursor: not-allowed;
  background: var(--greyLight-1);
  color: var(--greyDark);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@keyframes rubberband {
  0% {
    transform: scaleX(1);
  }
  40% {
    transform: scaleX(1.2) scaleY(0.8);
  }
  55% {
    transform: scaleX(0.9) scaleY(1.1);
  }
  65% {
    transform: scaleX(1.1) scaleY(0.7);
  }
  75% {
    transform: scaleX(0.8) scaleY(1.1);
  }
  90% {
    transform: scaleX(1.1) scaleY(0.9);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
.stroke {
  font-weight: 700;
  text-transform: uppercase;
  background: -webkit-linear-gradient(
    -86deg,
    var(--primary) 5%,
    var(--primary) 53%,
    var(--primary-dark) 91%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: var(--primary-light);
}
.stroke-grey {
  font-weight: 700;
  text-transform: uppercase;
  background: -webkit-linear-gradient(-86deg, #000 5%, #000000 53%, #000 91%);
  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-stroke: 4px transparent;
  color: var(--greyDark);
}
.shadow-btn {
  background: var(--greyLight-1);
  border: none;
  border-radius: 6px;
  outline: none;
  padding: 0.4rem 0.7rem;
}
.shadow-btn:active {
  transform: scale(0.95);
  box-shadow: var(--shadow-in);
  outline: none;
  border: none;
}
.outline-none {
  outline: none;
}

.outline-none:focus,
.outline-none:active {
  outline: none;
  box-shadow: var(--shadow-out);
}
.roundedBorder {
  border-radius: 45% !important;
}
.radius-1 {
  border-radius: 0.5rem;
}

.dim {
  color: var(--primary);
}
.shadow-out {
  box-shadow: var(--shadow-out);
}
.shadow-in {
  box-shadow: var(--shadow-in);
}
.pop {
  font-family: "Poppins", sans-serif;
}
.jsf {
  font-family: "Josefin Sans", sans-serif;
}
.center {
  display: grid;
  place-items: center;
}

/* _______ToolTip_____ */
.tt {
  position: relative;
}

.tt::after {
  content: attr(data-tooltip);
  position: absolute;
  height: auto;
  width: auto;
  padding: 5px 15px;
  color: var(--primary);
  font-size: 1rem;
  top: 130%;
  left: -20%;
  opacity: 0;
  pointer-events: none;
  border-radius: 5px;
  transform: translateY(30px);
  transition: transform 0.2s;
  font-family: "Poppins", sans-serif;
  background: var(--greyLight-1);
  box-shadow: var(--shadow-in);
  border: 2px solid var(--primary-lighter);
  z-index: 11;
}

.tt:hover::after {
  opacity: 1;
  transform: translateY(0px);
}
/* ------fancy input-------- */
.fancyinput {
  border-bottom-color: var(--primary-light);
  outline: none;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  background: var(--greyLight-1) !important;
  padding: 0.4rem 0.5rem;
  transition: 0.2s ease;
}
.fancyinput:focus {
  background: var(--greyLight-1) !important;
  caret-color: var(--primary);
  border-bottom-color: var(--primary-dark);
}
.skeleton {
  opacity: 0.7;
  animation: loading 1s linear infinite alternate;
}
.bg{
  background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
}
.addressDetails form {
  position: relative;
}
.addressDetails .addressInput {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  padding: 9px 10px;
  background: var(--greyLight-1);
  text-transform: capitalize;
  border-radius: 2px;
  /* border-top: none; */
  /* border-left: none; */
  /* border-right: none; */
  box-shadow: none!important;
  border: 2px solid var(--primary-light);
  caret-color: var(--primary-dark);
}
.addressDetails .addressTextarea {
  width: 90%;
  height: 100%;
  background: transparent;
  outline: none;
  padding: 9px 10px;
  text-transform: capitalize;
  border-radius: 2px;
  /* border-top: none; */
  /* border-left: none; */
  /* border-right: none; */
  box-shadow: none!important;
  border: 2px solid var(--primary-light);
  border: 2px solid var(--primary-light);
  caret-color: var(--primary-dark);
}
.addressDetails form input:focus {
  border: 2px solid var(--primary);
  box-shadow: var(--shadow-in) !important;
}
.addressDetails .addressTextarea:focus {
  border: 2px solid var(--primary);
  box-shadow: var(--shadow-in) !important;
}
.addressDetails .placeholder {
  position: absolute;
  top: 8px;
  left: 30px;
  color: var(--primary);
  text-transform: capitalize;
  transition: top 0.3s;
}
.addressTextarea ~ .placeholder {
  position: absolute;
  top: 20px;
  left: 50px;
  color: var(--primary);
  text-transform: capitalize;
  transition: top 0.3s;
}
.addressInput:focus ~ .placeholder,
.addressInput:not(:placeholder-shown).addressInput:not(:focus) ~ .placeholder {
  top: -15px;
  background-color: var(--greyLight-1);
}
.addressTextarea:focus ~ .placeholder,
.addressTextarea:not(:placeholder-shown).addressTextarea:not(:focus) ~ .placeholder {
  top: -15px;
  background-color: var(--greyLight-1);
}
.blocks{
  outline: none;
  display: grid;
  place-items: center;
  color: var(--primary);
  border: 2px solid var(--primary-light);
  border-radius: 6px;
}
.blocks:active,.blocks:focus{
  outline: none;
  border: 2px solid var(--primary);
  box-shadow: var(--shadow-in);
}

@keyframes loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

@media screen and (max-width: 450px) {
  .card_tools {
    margin-left: 1rem !important;
  }
  .ring,
  .dot {
    display: none;
  }
  .addressDetails{
    padding:1rem 0!important;
    margin: 2rem 0!important;
  }
  
}
